*{
    color: rgb(3, 3, 3);
    padding: auto;
    text-align: center;
}
h1{
    text-align: center;
}
#header{
    text-align: center;
    background-color: cadetblue;
    margin: auto;
    padding: 10px;
}
#text{
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}
#text2{
    text-align: center;
}
.blog{
    display: flex;
}
